<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemisa</title>
    <link rel="stylesheet" href="{% static '/CSS/normalize.css' %}" />
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static '/CSS/style2.css' %}" />
  </head>

  <body>
    <section class="dashboard">
      <iframe
        title="Report Section"
        src="https://app.powerbi.com/view?r=eyJrIjoiMjViMDMxNmEtNmFlNy00OGY4LWJhYTYtNDZjZTExMTUwZDc5IiwidCI6ImJhYjBiNjc5LWJkNWYtNGZlOC1iNTE2LWM2YjhiMzE3Yzc4MiIsImMiOjR9&navContentPaneEnabled=false&toolbarDisabled=true"
        frameborder="0"
        allowfullscreen="true"
        
      >
      </iframe>
    </section>
    <div class="containerR">
      <div class="rectangulo"></div>
    </div>
    
    <div class="modelo">
      <form method="POST">
      {% block content %}
        {% csrf_token %}
          {{form.as_p}}
          <button type="submit", name= "ejecutar">ejecutar</button>
        {% endblock %}
      </form>
    </div>
    
    
  </body>
</html>
