<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemisa</title>
    <link rel="stylesheet" href="{% static '/CSS/normalize.css' %}" />
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static '/CSS/style2.css' %}" />
  </head>

  <body>
    <section class="dashboard">
      <iframe
        title="Report Section"
        src="https://app.powerbi.com/view?r=eyJrIjoiNTFkYWJjY2EtNjUwOC00MTc4LTgyZDktNTYwZjM0Y2I1NzZhIiwidCI6ImJhYjBiNjc5LWJkNWYtNGZlOC1iNTE2LWM2YjhiMzE3Yzc4MiIsImMiOjR9"
        frameborder="0"
        allowfullscreen="true"
        
      >
      </iframe>
    </section>
    <section class="containerR">
        <img src="{% static '/img/output.png' %}"/>
    </section>
    
    
      
      
      
    
   
    
  </body>
</html>
