:root{
    --background: linear-gradient(135deg, #16a7b183 0%, #0fa34865 100%); 
    --color-primary: #B3C890;
    --color-secondary:  #73A9AD;
    --botton-padding: 20px 40px;
}
*{
    color: white;
    
}

h1 h2{
    font-weight: bolder;
    
}
.hero2{
    background-image: none;
    padding-bottom: 25px;
}
body{
    background-image: var(--background), url('../img/paisaje2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Raleway', sans-serif
}
.subtitle{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    
}
.container{
    
    background-color: rgba(31, 31, 31, 0.822);
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
    color: black;
    max-width: 1500px;
    
}
.org{
    text-align: center;
    
}
.mapaset{
    padding: 10px;
    display: grid;
    height: 550px;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}
.resumenes{
    
    display: grid;
    height: 1500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.tabla{
    border-radius: 45px;
}
.unopordos{
    padding: 10px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: center;
}
.resumenes__item{
    border: 5px solid #0fa3489c;
    border-radius: 15px;
    
    padding: 14px;
    align-items: center;
    justify-content: center;
    
    
}
.unoportres{
    
    display: grid;
    height: auto;
    
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    
}
.cantende{
    display: flex;
    justify-content: center;
}
.titlediv{
    padding: 45px;
    
    border-radius: 15px;
    background-color: #0fa3489c;
    box-shadow: 5px 5px 10px;
    color: black;
}

.subtitlediv{
    padding: 45px;
    
}
.nombreDs{
    padding: 10px;
    color :white;
    font-size: 19px;
}
.form{
    
    justify-content:left;
    padding-left: 200px;
    color: black;
}
.form-control{
    background-color: whitesmoke;
    border-radius: 15px;
    color: black;
}
.conclusiones{
    display: flex;
    padding: 50px 300px;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    height:auto;
    border: 5px solid #0fa3489c;
    border-radius: 15px;
    
}
button{
    color: black;
    background-color: whitesmoke;
    border-radius: 15px;
}
.item{
    border: 5px solid #0fa3489c;
    border-radius: 15px;
    padding: 10px;

}

.search{
    padding: 20px;
    justify-content: center;
    
}
.spcie{
    padding: 50px;
}
.conclusion{
    padding: 0 0 40px 0;
    font-size: 40px;
    font-weight: bolder;
}
.conclusion2{
    padding: 40px 0 0 0;
    font-size: 40px;
    font-weight: bolder;
}
.imgsoli{
    height: 450px;
}
body{
    display: flex;
    flex-direction: column;
}
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 25px;
   
    align-self: center;
}
.dashboard iframe{
    width: 1080px;
    height: 540px;
    border-radius: 25px;
}
.rectangulo{
    width: 1080px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.containerR{
    display: flex ;
    justify-content: center;
    margin-top: -40px;
    
}
@media (max-width: 1080px) {
    .container {
      max-width: 100%;
    }

  
    .dashboard {
      flex-direction: column;
      align-items: stretch;
      margin-top: 50px;
      width: 100%;
    }
  
    .dashboard iframe {
        width: 100% !important;
        height: 300px;
    }
  
    .rectangulo {
        
        width: 100%;
     
    }
  
    .form {
      justify-content: center;
      padding: 0;
    }
  }